:root {
  --bg-color: #0000004f;
  --border-color: #ffffff21;
  --btn-bg-color: rgba(255, 255, 255, 0.19);
  --text-color: #ffffff;
  --secondary-text-color: #c4c4c4;
  --tertiary-text-color: #a4a4a4;
  --placeholder-color: #989898;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url("https://wallpapercave.com/wp/wp2071799.jpg");
  background-size: cover;
  background-position-x: center;
}

.panel,
.button,
.text,
textarea {
  background-color: var(--bg-color);
  backdrop-filter: blur(80px);
  border: 1px solid var(--border-color);
  border-radius: 1em;
  color: var(--text-color);
}

.button {
  background-color: var(--btn-bg-color);
  border: 1px solid var(--border-color);
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.29);
}

.secondary-text {
  color: var(--secondary-text-color);
}

.tertiary-text {
  color: var(--tertiary-text-color);
}

.placeholder {
  color: var(--placeholder-color);
}

input,
textarea {
  background-color: rgba(255, 255, 255, 0.19);
  border: 1px solid var(--border-color);
  border-radius: 1em;
  color: var(--text-color);
}

.header {
  background-color: black;
  border-bottom: 1px solid #000000;
}

.header .nav-item.active {
  color: #ffffff;
  font-weight: 1000;
}

.logo {
  fill: white;
}

.subheading {
  color: #ffffff;
  z-index: 10;
}

textarea.text-input.text-input-lg.text-input-full.text-input-header-buffer {
  background: transparent;
}

.chat-container .chat-message {
  border-bottom: 1px solid #ffffff21;
  background: transparent !important;
}

.chat-container .add-message .icon {
  fill: white;
}

.chat-container .chat-message-role .subheading .chat-message-role-text {
  background: transparent !important;
}

.chat-container .chat-message-button-container .chat-message-remove-button {
  fill: white;
}
